.game {
  text-align: center;

  game__rockets {
    width: 100%;
  }

  @keyframes mover {
      0% { transform: translateY(0); }
      100% { transform: translateY(-10px); }
  }

  @keyframes mover-reverse {
    0% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
  }

  .game__rocket1 {
    transform: rotate(-90deg);
    animation: mover 1s infinite  alternate;
  }

  .game__rocket2 {
    transform: rotate(-90deg);
    animation: mover-reverse 1s infinite  alternate;
  }

  .game__description {

  }

  .game__start_btn {
    margin: 20px 0;
    height: 4em;

    &:hover {
      cursor: pointer;
    }
  }

}
