.game {
  text-align: center;

  game__rockets {
    width: 100%;
  }

  @keyframes mover {
    0% { transform: translateY(20px); }
    100% { transform: translateY(-20px); }
  }

  .game__rocket1 {
    width: 12vw;
    margin: 10px 5vw;
    transform: rotate(-90deg);
    animation: mover 0.8s infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
  }

  .game__rocket2 {
    width: 13vw;
    margin: 10px 5vw;
    transform: rotate(-90deg);
    animation: mover 0.8s infinite;
    animation-timing-function: linear;
    animation-direction: alternate-reverse;
  }

  .game__description {

  }

  .game__start_btn {
    background-color: #41046F;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 4em;

    &-unactive {
      background-color: rgb(166, 166, 167);
      pointer-events: none;
    }

    &:hover {
      cursor: pointer;
    }
  }

}
