$points-active-color: #E5E5E5;
$points-unactive-color: #727272;

.learningMap__points {
  width: 1vh;
  grid-template-rows: repeat(3, 4vh);
}

.learningMap__point {
  align-self: center;
  justify-self: center;
  width: 1.5vh;
  height: 1.5vh;
  border-radius: 50%;

  background-color: $points-unactive-color;

  &-active {
    background-color: $points-active-color;
  }
}
