$step__button-unactive-color: #A6BAA6;

.Panel__in {
  .step__header {
    margin-top: 12px;
  }
}

.step__buttons {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;

  padding: 0;
  bottom: 0;

  .step__button {
    width: 40vw;
    height: 4em;

    &:hover {
      cursor: pointer;
    }

    &.step__button-unactive {
      background-color: $step__button-unactive-color;
      pointer-events: none; /* make vk button not clickable */
    }

    .button-in {
      .button__content {
        font-size: 2em;
      }
    }
  }
}
