$primary-subsection-color: #492B55;
$subsection-height: calc( 100vh - 92px );

.subsection {
  padding: 0;
  margin: 0;
  min-height: $subsection-height;
  max-height: auto;

  background-color: $primary-subsection-color;

  font-family: var(--game-font);
}

.subsection__container {
  margin: 0;
  position: relative;
  width: auto;
  height: 100%;
}
