.achievements__title {
  line-height: 25px;
}

.achievement_title__text {
  text-align: center;
  width: 100%;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--accent);
}

.achievement_title__tip {
  float: right;
  height: 25px;
  width: 25px;
  margin-right: 20px;

  &:hover {
    cursor: pointer;
  }
}

.achievements_tip__image {
  height: 100%;
  width: 100%;
}

.achievements__items {
  padding: 20px;
  padding-top: 5px;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-column-gap: 5%;
  grid-row-gap: 10px;
  justify-content: center;
  align-content: center;
}

@media screen and (min-width: 600px) {
  .achievements__items {
    grid-template-columns: repeat(5, 18%);
    grid-column-gap: 2%;
    grid-row-gap: 10px;
  }
}
