$subsection-active-color: #9E248B;
$subsection-unactive-color: #896283;
$subsection-current-color: #B95208;
$mark-left: calc((100vw * 2/ 5) * 0.8 - 1.1em);

.learningMap__col {
  .LearningMap__Subsection_wrapper {
    width: 90%;
    height: 80%;
    align-self: center;
    justify-self: center;

    .LearningMap__Subsection_mark {
      margin-top: -0.95em;
      @media screen and (max-width: 320px) {
        width: 1.5em;
        height: 1.3em;
      }
    }

    .learningMap__button {
      width: 100%;
      height: 100%;
      position: relative;

      border-radius: 25px;
      box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.25);

      background-color: $subsection-unactive-color;

      pointer-events: none; /* make vk button not clickable */

      .Button__in {
        height: auto;
      }

      &-active {
        pointer-events: auto;
        background-color: $subsection-active-color;
        transition: all .3s ease-in-out;

        &:hover{
          cursor:pointer;
          transform: scale(1.05);
        }
      }

      &-current {
        @keyframes changeShadowSubsection {
          from {
            box-shadow: 0px 0px 50px rgba(255, 255, 255, 1);
          }
          to {
            box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5);
          }
        }

        border: 2px solid $subsection-current-color;
        animation-duration: 1s;
        animation-name: changeShadowSubsection;
        animation-iteration-count: infinite;
        animation-direction: alternate-reverse;
      }

      &-completed {
        /* TODO: need to add div with green mark */
      }
    }
  }
}
