.gameRoad {
  display: grid;
  grid-template-columns: 90% 10%;
  height: 27vh;
}

@media screen and (min-width: 700px) {
  .gameRoad {
    height: 36vh;
  }

  .progresses__separator {
    margin: 0;
    margin-top: 8px;
  }
}
