.frame {
  margin: 2vmin;
  min-height: 3.5em;
  background-color: white;
  color: white;

  &.frame-first-type {
    background-color: #028E9B;
  }

  &.frame-second-type {
    background-color: #F99826;
  }

  &.frame-right {
    background-color: #3BB379;
  }

  &.frame-wrong {
    background-color: #d83b3b;
  }

  &.frame-active {
    border: 3px solid #660BAB;
  }

  &.frame-dummy {
    background-color: #E5E3E0;
    color: #E5E3E0;
  }

  &.frame-unclikable{
    pointer-events: none;
  }
}

.frame.Button {
  border-radius: 10px;
}
