.frame {
  background-color: #028E9B; /* temporary all frames with one color */
  color: aliceblue;
  margin: 2vmin;
  min-height: 3.5em;

  &.frame-first-type {
    /* background-color: #FFAA00;*/
  }

  &.frame-second-type {
    background-color: #F99826;
  }

  &.frame-right {
    background-color: #3BB379;
  }

  &.frame-active {
    border: 3px solid #660BAB;
  }

}

.frame.Button {
  border-radius: 10px;
}
