:root {
  --accent: #41046F;
  --header_background: #260C3B;
  --tabbar_active_icon: #41046F;
}

body::-webkit-scrollbar { 
  width: 0 !important
}

body {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}